body{
    font-family: "Roboto", sans-serif;
    color: #434455;
    line-height: 1.5;
    letter-spacing: 0.02em;
    background-color: #ffffff;
}
ul {
    list-style: none;
}
a{
    text-decoration: none;
}
.logo{
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color:#4d5ae5;
}
.studio{
    color: #2e2f42;
}
.link-nav{
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
}
.link-nav:hover, .link-nav:focus {
    text-decoration: underline;
    color: #404bbf;
}
.adress{
    font-style: normal;
}
.link-adr{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}
.link-adr:hover, .link-adr:focus {
    text-decoration: none;
    color: #404bbf;
}
.banner{
background-color: #2e2f42;
}
.first-title{
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color: #ffffff;
}

.button{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    cursor: pointer;
    background-color: #4D5AE5;
    color: #ffffff;
    font-family: "Roboto", sans-serif;
}
.button:hover, .button:focus{
    background-color: #404bbf;
}

.team-section{
    background-color: #f4f4fd;
}
.goals{
    background-color: #ffffff;
}
.goals-title{
    font-weight: 500;
    font-size: 20px;
    letter-spacing: 0.02em;
    line-height: 1.2;
    color: #2e2f42;
}
.goals-text{
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #434455;
}
.portfolio{
    background-color: #e7e9fc;
}
.team-section li {
    background-color: #ffffff;
}
.portfolio li {
    background-color: #ffffff;
}
.footer{
    background-color: #434455;
}